html,
body {
    /*height: calc(100% - 108px);*/
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px !important;
}

hr {
    margin: 0;
}

th span {
    color: #2196f3;
    font-weight: bold;
}

.container-fluid {
    padding: 0;
}

.row, .zero-padding {
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.quarter-height {
    height: 25%;
}

.height-minus-footer {
    height: calc(100% - 60px);
}

.navbar {
    border-radius: 0;
}

.footer > .container-fluid{
  margin: 0;
}
.footer > .container-fluid > div{
  margin-top: 15px;
}

footer{
}

ng-map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    left: 0;
    color: #3C3A3A;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
}

.genericStationaryProbesTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
}

.genericStationaryProbesTable td {
    text-align: left;
    padding: 5px;
}

.genericStationaryProbesTable tr {
    border-bottom: 1px solid #ddd;
}

.genericStationaryProbesTable tr:hover {
    background-color: rgba(32, 148, 243, 0.5);
}

.genericStationaryProbesTable tr.header :hover {
    background-color: #FFFFFF;
}

.genericStationaryProbesTable th {
    width: 100%;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hidden-overflows {
    overflow-x: auto;
    overflow-y: auto;
}

.close{
    font-size: x-large!important;
}
.close:hover{
    color: #000000;
    background-color: transparent;
}

.highcharts-credits{
    display: none;
}

.highcharts-container{
  width: 100% !important;
}

.panel-default {
    border-color: rgba(32, 148, 243, 0.5);
}
.panel-default>.panel-heading{
    color: white;
    text-align: center;
    border-color: rgba(32, 148, 243, 1);
    background-color: rgba(32, 148, 243, 0.9);
}
.panel-default .panel-heading, .panel-default .panel-title, .panel-default .panel-footer {
    color: white;
    font-size: large;
}

button.close{
    border: 0!important;
}

button.close:hover, button.close:active, button.close:focus{
    border: 0!important;
}

.button-close{
    border: 0!important;
}

.button-close:hover{
    border: 0!important;
    background-color: transparent!important;
}

#fixedProbesSearchBox {
    color: black;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid rgba(32, 148, 243, 0.5);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#fixedProbesSearchBox:focus {
    width: 100%;
}

#uxbrain-logo {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

#uxbrain-logo > b > span {
    color: #009FE3;
    font-size: 30px;
}

#graphsModal{
    padding: 0;
    height: 100%;
}

#graphsModal > .modal-dialog{
    margin: 0;
    padding: 0;
    width: 95%;
    height: 90%;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

#graphsModal > .modal-dialog > .modal-content > .modal-header{
    height: 8%;
}

#graphsModal > .modal-dialog > .modal-content > .modal-body{
    overflow-y: auto;
    height: 92%;
}

#graphsModal > .modal-dialog > .modal-content{
    height: 100%;
}

#rttGraph {
    height:250px;
}
#ulBitrateGraph {
    height:250px;
}
#dlBitrateGraph {
    height:250px;
}
#voiceCallMosHistory{
    height:250px;
}
#voiceCallCallEstablishmentTimeHistory{
    height:250px;
}
#voiceCallCallSuccessRateHistory{
    height:250px;
}
#googleWebMos {
    height:250px;
}
#youtubeWebMos {
    height:250px;
}
#facebookWebMos {
    height:250px;
}
#voiceCallAverageMOS{
    height:250px;
}
#voiceCallAverageCallEstablishmentTime{
    height:250px;
}
#voiceCallAverageCallSuccessRate{
    height:250px;
}
.margin-bottom{
  margin-bottom: 0;
}
@media (max-width: 1366px) {
  .footer{
    z-index: 999;
    position: fixed;
  }

  /* .container-fluid > .full-height{
    margin-bottom: 60px;
  } */

  .full-height {
    height: auto;
    min-height: 100vh;
  }

  .height-minus-footer {
      height: auto;
      min-height: 100%;
  }

  .margin-bottom{
    margin-bottom: 60px;
  }

  html,
  body {
      /*height: calc(100% - 108px);*/
      height: auto;
      min-height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px !important;
  }
}
@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar {
        margin-right: 0;
        margin-left: 0;
        background-color: rgb(51, 51, 51);
        border: 0;
    }

    .navbar .nav>li>a{
        font-size: 12px;
    }
    .btn {
        font-size: 12px;
    }
    .dropdown-menu>li>a {
        font-size: 12px;
    }
    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
        float: none !important;
    }

    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
        background-color:  #009FE3;
    }
    .nav>li>a:hover,.nav>li>a:focus, .nav>li>a.active{
        color: #ffffff;
        border-radius: 5px;
        background-color:  #009FE3!important;
    }
    .login-box>li.dropdown>a.dropdown-toggle:hover{
        background-color:  transparent!important;
    }
    .navbar-right {
        margin-right: 0;
    }

    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }

    .right-text-align {
        text-align: right;
    }

    .user-form-web2py-header {
        padding-top: 50px;
        padding-left: 50px;
    }

    .user-form-web2py {
        padding-top: 50px;
    }

    .remaining-height-stProbes {
        height: calc(100% - 46px);
    }

    .open>.dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
        color: #FFFFFF;
        border-color: transparent;
        background-color: #3e3f3a;
    }

    .btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
        margin-bottom: 5px;
        background-color: #3e3f3a;
        border-top-left-radius: 5px!important;
        border-top-right-radius: 5px!important;
        border-bottom-left-radius: 5px!important;
        border-bottom-right-radius: 5px!important;
        border: 1px solid #009FE3!important;
    }
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus{
        margin-bottom: 5px;
        background-color: #009FE3;
        border-top-left-radius: 5px!important;
        border-top-right-radius: 5px!important;
        border-bottom-left-radius: 5px!important;
        border-bottom-right-radius: 5px!important;
        border: 1px solid #3e3f3a !important;
    }
    .technologies-group{
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 5px;
        width: 98%;
        margin-left: 1%;
        text-align: center;
    }
    .form-group{
        margin-bottom: 0;
    }

    .datetimePicker-group{
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 98%;
        margin-left: 1%;
        margin-bottom: 5px;
    }

    .dtPickerLabel{
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 1%;
        font-size: 15px;
        color: #ffffff;
    }

    .bootstrap-switch{
        max-width: 73px;
    }

    .apply-reset-group{
        margin-top: 15px;
        text-align: center;
    }
    #menuTitle {
        color: #ffffff;
        padding-top: 10px;
        text-align: center;
    }

    #staticProbesOptionList {
        padding: 1px;
    }
    #rttGraph {
    height:400px;
    }
    #ulBitrateGraph {
        height:400px;
    }
    #dlBitrateGraph {
        height:400px;
    }
    #voiceCallMosHistory{
        height:400px;
    }
    #voiceCallCallEstablishmentTimeHistory{
        height:400px;
    }
    #voiceCallCallSuccessRateHistory{
        height:400px;
    }
    #googleWebMos {
        height:300px;
    }
    #youtubeWebMos {
        height:300px;
    }
    #facebookWebMos {
        height:300px;
    }
    #voiceCallAverageMOS{
        height:300px;
    }
    #voiceCallAverageCallEstablishmentTime{
        height:300px;
    }
    #voiceCallAverageCallSuccessRate{
        height:300px;
    }
    #countryMenu {
        width: 98%;
        margin-left: 1%;
    }

    #citiesMenu {
        width: 98%;
        margin-left: 1%;
    }

    #operatorMenu {
        width: 98%;
        margin-left: 1%;
    }

    #kpiMenu {
        width: 98%;
        margin-left: 1%;
    }

    #countryMenuUl {
        width: 98%;
        margin-left: 1%;
    }

    #citiesMenuUl {
        width: 98%;
        margin-left: 1%;
    }

    #operatorMenuUl {
        width: 98%;
        margin-left: 1%;
    }

    #kpiMenuUl {
        width: 98%;
        margin-left: 1%;
    }
}
