<div class="col-md-12 full-height zero-padding" id="mobileProbesMapView">
    <ng-map center="{[{center}]}" zoom="{[{zoom}]}" id="mobileProbesMap" styles="{[{mapStyle}]}" map-type-id="{[{mapType}]}"></ng-map>
</div>
