
<div class="col-md-4 full-height zero-padding" id="staticProbesOptionList">
    <div class="col-md-12 zero-padding">
        <div class="left-inner-addon">
            <input id="fixedProbesSearchBox" ng-keyup="searchOnList($event)" class="form-control" type="text" placeholder="Search...">
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
    <div class="col-md-12 remaining-height-stProbes zero-padding">
        <div class="col-md-12 quarter-height zero-padding hidden-overflows">
            <table class="genericStationaryProbesTable" id="availableNodesTable">
                <tr class="header">
                    <th>
                        <span>{{=T('ux')}}</span>{{=T('Probes')}}
                    </th>
                </tr>
                <tr class="body">
                    <tr ng-repeat="stationaryUxProbe in uxStationaryProbes">
                        <td style="padding-left: 15px;" ng-click="stationaryUxProbeClicked(stationaryUxProbe)" >
                            {[{stationaryUxProbe.node_hostname}]}
                        </td>
                    </tr>
                </tr>
            </table>
        </div>
        <div class="col-md-12 quarter-height zero-padding hidden-overflows">
            <table class="genericStationaryProbesTable" id="availableClustersTable">
                <tr class="header">
                    <th>
                        <span>{{=T('ux')}}</span>{{=T('Clusters')}}
                    </th>
                </tr>
                <tr class="body">
                    <tr ng-repeat="cluster in uxClusters">
                        <td style="padding-left: 15px" ng-click="stationaryUxClusterClicked(cluster)">
                            {[{cluster.hostname}]}
                        </td>
                    </tr>
                </tr>
            </table>
        </div>
        <div class="col-md-12 quarter-height zero-padding hidden-overflows">
            <table class="genericStationaryProbesTable" id="availableZonesTable">
                <tr class="header">
                    <th>
                        <span>{{=T('ux')}}</span>{{=T('Zones')}}
                    </th>
                </tr>
            </table>
        </div>
        <div class="col-md-12 quarter-height zero-padding hidden-overflows">
            <table class="genericStationaryProbesTable" id="availableUserZonesTable">
                <tr class="header">
                    <th>
                        <span>{{=T('User')}}</span>{{=T('Zones')}}
                    </th>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="col-md-8 full-height zero-padding" id="staticProbesMapView">
    <ng-map center="{[{center}]}" zoom="{[{zoom}]}" map-type-id="{[{mapType}]}" id="stationaryProbesMap">
        <marker ng-repeat="city in cities" position="{[{city.latitude}]},{[{city.longitude}]}" title="{[{city.title}]}" icon="{[{googleMapsCityIcon}]}" animation="" on-click="setCity('{[{city.name}]}', '{[{city.country}]}')"></marker>
    </ng-map>
</div>
