<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{=T('uxBrain')}}</title>

    <meta name="application-name" content="{{=T('FireTracker')}}">
    <meta name="google-site-verification" content="">

    <!-- include stylesheets -->
    <link rel='stylesheet' href="{{=URL('static','css/glyphicons.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap-switch.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/layout.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap-datetimepicker.min.css')}}"/>
    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">-->

    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

    <script src="{{=URL('static','js/angular.min.js')}}"></script>

    <!--[if lt IE 9]>
            <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
            <![endif]-->

    <!-- Favicons -->

{{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->

{{block head}}{{end}}
{{
# using sidebars need to know what sidebar you want to use
mc0 = 'col-md-12 full-height zero-padding'
mc1 = 'col-md-9 full-height zero-padding'
mc2 = 'col-md-6 full-height zero-padding'
left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
middle_column = {0: mc0, 1: mc1, 2: mc2}[
(left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
}}
</head>
<body ng-app="myApp">
<!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

<!--<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>-->

<!-- Modal -->
<div class="modal fade" id="graphsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-default button-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="graphsModalTitle"></h4>
            </div>
            <div class="modal-body" id="graphsModalBody">
            </div>
            <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            -->
        </div>
    </div>
</div>

<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-md-2 zero-padding height-minus-footer margin-bottom">
            <div class="sidebar-nav full-height">
                <!-- Navbar ======================================= -->
                <nav class="navbar navbar-default zero-padding full-height" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    {{=response.logo or ''}}
                    </div>
                    <div class="collapse navbar-collapse">
                        <hr>
                        <ul class="nav navbar-nav navbar-right right-text-align login-box">
                        {{='auth' in globals() and auth.navbar('',mode='dropdown') or ''}}
                        </ul>
                        <hr>
                        <h4 id="menuTitle">MENU</h4>
                            {{if response.menu:}}
                                {{=MENU(response.menu, _class='nav navbar-nav blue-highlight',li_class='dropdown',ul_class='dropdown-menu')}}
                                {{pass}}
                            {{if auth.is_logged_in():}}
                        <hr>
                        <h4 id="menuTitle">FILTERS</h4>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="countryMenu" data-toggle="dropdown">{{=T('Country')}}
                                  <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="countryMenu" id="countryMenuUl">
                                <li role="presentation" ng-controller="MainCtl" ng-click="setCountry('{{=T("Portugal")}}')"><a role="menuitem">{{=T('Portugal')}}</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="citiesMenu" data-toggle="dropdown">{{=T('City')}}
                                  <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="citiesMenu" id="citiesMenuUl">
                                <!--<li role="presentation" ng-controller="MainCtl" ng-click="setCountry('{{=T("Portugal")}}')"><a role="menuitem" href="#">{{=T('Castelo Branco')}}</a></li>-->
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="operatorMenu" data-toggle="dropdown">{{=T('Operator')}}
                                  <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="operatorMenu" id="operatorMenuUl">
                                <!--<li role="presentation" ng-controller="MainCtl" ng-click="setCountry('{{=T("Portugal")}}')"><a role="menuitem" href="#">{{=T('Castelo Branco')}}</a></li>-->
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="kpiMenu" data-toggle="dropdown">{{=T('Key Performance Indicator')}}
                                  <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="kpiMenu" id="kpiMenuUl">
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('RSSI')"><a role="menuitem">{{=T('RSSI')}}</a></li>
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('RSCP')"><a role="menuitem">{{=T('RSCP')}}</a></li>
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('RSRP')"><a role="menuitem">{{=T('RSRP')}}</a></li>
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('RSRQ')"><a role="menuitem">{{=T('RSRQ')}}</a></li>
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('Download Speed')"><a role="menuitem">{{=T('Download Speed')}}</a></li>
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('Upload Speed')"><a role="menuitem">{{=T('Upload Speed')}}</a></li>
                                <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('Round Trip Time')"><a role="menuitem">{{=T('Round Trip Time')}}</a></li>
                                <!-- <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('Quality of Experience')"><a role="menuitem">{{=T('Quality of Experience')}}</a></li> -->
                                <!-- <li role="presentation" ng-controller="MainCtl" ng-click="setKeyPerformanceIndicator('Voice')"><a role="menuitem">{{=T('Voice')}}</a></li> -->
                            </ul>
                        </div>
                        <div class="col-md-12 technologies-group" ng-controller="MainCtl">
                            <input type="checkbox" name="2g" data-label-text="2G" data-handle-width="15" data-label-width="15" data-off-color="warning" data-on-color="success" data-size="small" data-checkbox="2"
                                   class="checkbox-status" ng-model="mymodel.true" bootstrap-switch checked>
                            <input type="checkbox" name="3g" data-label-text="3G" data-handle-width="15" data-label-width="15" data-off-color="warning" data-on-color="success" data-size="small" data-checkbox="3"
                                   class="checkbox-status" ng-model="mymodel.true" bootstrap-switch checked>
                            <input type="checkbox" name="4g" data-label-text="4G" data-handle-width="15" data-label-width="15" data-off-color="warning" data-on-color="success" data-size="small" data-checkbox="4"
                                   class="checkbox-status" ng-model="mymodel.true" bootstrap-switch checked>
                            <input type="checkbox" name="5g" data-label-text="5G" data-handle-width="15" data-label-width="15" data-off-color="warning" data-on-color="success" data-size="small" data-checkbox="5"
                                   class="checkbox-status" ng-model="mymodel.true" bootstrap-switch disabled>
                        </div>
                        <div class="col-md-12 datetimePicker-group">
                            <div class="form-group">
                                <p class="dtPickerLabel">{{=T('Start Time')}}</p>
                                <div class='input-group date' id='startTime'>
                                    <input type='text' class="form-control" value="Start Time"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 datetimePicker-group">
                            <div class="form-group">
                                <p class="dtPickerLabel">{{=T('End Time')}}</p>
                                <div class='input-group date' id='endTime'>
                                    <input type='text' class="form-control" value="End Time"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 apply-reset-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="resetFiltersButton" ng-controller="MainCtl" ng-click="resetFilters()" data-toggle="dropdown">{{=T('Reset!')}}</button>
                            <button class="btn btn-default dropdown-toggle" type="button" id="applyFiltersButton" ng-controller="MainCtl" ng-click="applyFilters()" data-toggle="dropdown">{{=T('Apply!')}}</button>
                        </div>

                    {{pass}}
                    </div>
                </nav>
            </div>
        </div>
        <!-- Main ========================================= -->
        <div class="container-fluid main-container col-md-10 zero-padding height-minus-footer" ng-app="myApp">
        {{if left_sidebar_enabled:}}
            <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
                <h3>Left Sidebar</h3>
                <p></p>
            {{end}}
            </div>
        {{pass}}

            <div class="{{=middle_column}}">
            {{block center}}
            {{include}}
            {{if auth.is_logged_in():}}
                <div class="ng-view full-height"></div>
            {{pass}}
            {{end}}
            </div>

        {{if right_sidebar_enabled:}}
            <div class="col-md-3">
            {{block right_sidebar}}
                <h3>Right Sidebar</h3>
                <p></p>
            {{end}}
            </div>
        {{pass}}
        </div>
    </div>
</div>

<!-- Masthead ===================================== -->
{{block header}}
{{end}}

{{block footer}} <!-- this is default footer -->
<footer class="footer" style="text-align: center">
    <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
        <img src="{{=URL('static','images/european-comission-flag.png')}}" alt="EU-COMISSION-FLAG" style="height: -webkit-fill-available; max-height: 60px">
        <img src="{{=URL('static','images/monroe-logo.png')}}" alt="MONROE-PROJECT-LOGO" style="height: -webkit-fill-available; max-height: 60px">
        <div id="poweredBy" class="pull-right">
        {{=T('Powered by')}}
            <a href="{{=URL('default', 'index')}}">ALLBESMART</a>
        </div>
    </div>
</footer>
{{end}}

<!-- The javascript =============================== -->
<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
<script src="{{=URL('static','js/highstock.js')}}"></script>
<script src="{{=URL('static','js/highcharts-more.js')}}"></script>
<script src="{{=URL('static','js/solid-gauge.js')}}"></script>
<script src="{{=URL('static','js/data.js')}}"></script>
<script src="{{=URL('static','js/exporting.js')}}"></script>
<script src="{{=URL('static','js/angular-route.js')}}"></script>
<script src="{{=URL('static','js/angular-leaflet-directive.min.js')}}"></script>
<script src="{{=URL('static','js/node_modules/ngmap/build/scripts/ng-map.min.js')}}"></script>
<script src="{{=URL('static','js/node_modules/angular-local-storage/dist/angular-local-storage.min.js')}}"></script>
<script src="{{=URL('static','js/moment.js')}}"></script>
<script src="{{=URL('static','js/bootstrap-switch.min.js')}}"></script>
<script src="{{=URL('static','js/bootstrap-datetimepicker.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=apikey&libraries=geometry,drawing"></script>

<!--<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>-->

<script src="{{=URL('static','js/mobileProbes.js')}}"></script>
<script src="{{=URL('static','js/applyFilters.js')}}"></script>
<script type="text/javascript">
    var getGridURL = "{{=URL('mobileProbes','api/getGrid', host=True)}}"
</script>

{{block page_js}}{{end page_js}}

{{if response.google_analytics_id:}}
<!-- Analytics ==================================== -->
<script src="{{=URL('static','js/analytics.min.js')}}"></script>
<script type="text/javascript">
    analytics.initialize({
        'Google Analytics': {trackingId: '{{=response.google_analytics_id}}'}
    });
</script>
{{pass}}

<!-- Share ============================y============ -->
<!--<script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>-->
</body>
</html>
